// src/pages/login/login.scss
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
}

.form-container{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:var(--size-md);
  margin:var(--size-lg) 0;
}

.title{
  font-size: var(--size-lg);
  // tabBorderStyle
  // color: var(--tab-bg-color);
}
.fixbottom{
  position: fixed;
  bottom: 36px;
}
