page {
  height: 100%;
  font-family: inherit !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formbar {
  background-color: rgb(255, 255, 255);
  padding-left: 20rpx;
  border-radius: 18px;
  overflow: hidden;
  .iconfont {
    color: var(--nutui-color-primary);
  }

  .nut-input {
    background-color: transparent !important;
    padding-left: 20rpx;
  }
}
